{% extends 'base.html' %} {% import 'macros.html' as macro%} {% block content %} {% for alert in get_flashed_messages() %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ alert }}
</div>
{% endfor %}



    <div class="jumbotron">
        <h4>Travel Blogs</h4>
    </div>
    <div class="card-body text-primary">
        <h5 class="card-title">Get the Latest Travel Articles</h5>
        <p class="card-text"></p>
    </div>
    <div class="border-primary">
        <a href="/blogs/travel" class="btn btn-info float-center">View Blogs</a>
    </div>


<div class="jumbotron">
    <div class="card-header bg-transparent border-primary">
        <h4>Fitness Blogs</h4>
    </div>
    <div class="card-body text-primary">
        <div class="jumbotron>
      <h5 class=" card-title ">Get the Best Fitness Articles</h5>
      <p class="card-text "> </p>
    </div>
    </div>
    <div class="bg-transparent border-primary "><a href="/blogs/fitness " class="btn btn-info float-center ">View Blogs</a></div>
</div>
</div>
<div class="card-deck">
<div class="card border-primary display ">
    <div class="card-header bg-transparent border-primary "><h4>Fashion Blogs</h4></div>
    <div class="card-body text-primary ">
      <h5 class="card-title ">Fashion Articles</h5>
      <p class="card-text "> </p>
    </div>
    <div class="bg-transparent border-primary "><a href="/blogs/fashion " class="btn btn-info float-center ">View Blogs</a></div>
</div>

</div>
</div>

    
        </div>
        
      {% endblock%}